/**********************GLOBALES**************************/

@font-face {
    font-family: americanCaptain;
    src: url(../fonts/American-Captain.ttf);
}

@font-face {
    font-family: avenirRoman;
    src: url(../fonts/avenir-roman.ttf);
}

/**********************GLOBALES**************************/

html, body, #wrapper, #header, #content, #footer, .width-full{
	margin:0;
}

#wrapper, #header, #block, #footer, .width-full{
	width:100%;
}

.width-default{
	width:1000px;
	margin: auto;
	padding: 10px;
	background: rgba(255,255,255,0.7);
}

#wrapper{
	background: url('../image/fondo.jpg') repeat-y center top;
}

label{
	font-family: americanCaptain;
	color: #5f5d5e;
}

h1, h2, h3{
	font-family: americanCaptain;
}

h1{
	font-size: 98px;
}

h2{
	font-size: 65px;
	line-height: 0.9;
}

h3{
	font-size: 42px;
	text-transform: uppercase;
}

p{
	font-family:avenirRoman;
	color: #383838;
	font-size: 21px;
}

.space{
	width:100%;
	height:50px;
}

.txt-azul{
	color:#000068;
}

.txt-rojo{
	color: #fc3130;
}

.txt-blanco{
	color: #ffffff !important;
}
/************************HEADER*************************/
#header{
	height:135px;
	overflow: hidden;
}

#logo{
	width: 240px;
	height: 135px;
	text-align: center;
	padding-top: 55px;
	float:left;
}

#header #content-menu{
	width:738px;
	height:135px;
	float:left;
}

#header #content-menu #header-social{
	width:100%;
	height: 55px;
}

#header-social ul{
	list-style: none;
	margin: 2px 12px 0 0;
	padding: 0;
	overflow: hidden;
}

#header-social ul li{
	margin: 0;
    display: block;
    float: right;
    margin-left: 35px;
}

#content-menu #menu ul{
	list-style: none;
	margin:0;
	padding: 0;
	float:right;
}

#content-menu #menu ul li, .menu ul li{
	font-family: americanCaptain;
	text-transform: uppercase;
	display: block;
	float: left;
	font-size: 44px;
    margin: 0 10px;
}

#content-menu #menu ul li a,.menu ul li a{
    color:#00005c;
}

#content-menu #menu ul li a:hover{
    color:#ff0000;
    text-decoration: none;
}

#content-menu #menu ul li a.active, .menu ul li a.active{
	color:#ff0000;
}

#header #content-menu #menu{
	width:100%;
	height: 76px;
}

.menu-mobil{
	display: none;
}

.banner{
	text-align: center;
	height: 630px;
	width:100%;
	background-repeat: no-repeat;
	background-position: center;
}

.imagen-banner img{
	width:100%;
}

.banner .content-banner{
	width: 1000px;
    height: 630px;
    margin: auto;
    right: 0;
    left: 0;
    position: absolute;
}

.titulo-banner{
	position: absolute;
    bottom: 0;
    right: 0;
    width: 762px;
    text-align: justify;
}

.titulo-banner2{
	position: absolute;
    bottom: 110px;
    right: 0;
    width: 762px;
    text-align: justify;
}

.titulo-banner h2, .titulo-banner h1, .titulo-banner2 h2{
	color:#ececec;
	text-shadow: 2px 1px 1px grey;
}

.top-370{
	margin-top: 370px;
}

.top-300{
	margin-top: 250px;
}

/************************FOOTER************************/
#footer{
	background: #000068;
	height:245px;
}

#content-footer{
	width:1000px;
	margin: auto;
	padding: 10px;
}

#footer #imagen-footer{
	width:320px;
	height: 200px;
	float: left;
}

#footer #imagen-footer img{
	margin-top: 75px;
}

#footer #contacto-footer{
	width:600px;
	height:200px;
	float: left;
	padding: 10px 0 0 20px;
}

#footer #contacto-footer .texto{
	font-family: americanCaptain;
	text-transform: uppercase;
	color: #fff;
	font-size: 28px;
	margin-top:8px;
}
#footer #contacto-footer .texto img{
	vertical-align: baseline;
	margin-right: 10px;
}

/************************CONTENT************************/
.circulo-imagen{
	width: 190px;
	height: 190px;
	margin: auto;
	background-color: #ff0000;
	border-radius: 50%;
	padding: 28px;
}

.circulo-texto h3{
	text-transform: uppercase;
	color: #000072;
}

.item-servicio{
	margin: 0 auto 34px;
    background: #ff3131;
    height: 320px;
    width: 220px;
}

.servicio-texto{
	min-height: 95px;
}

.servicio-texto h3{
	color: #fff;
	margin:0;
}

.servicio-imagen{
	margin-top: 11px;
}

.servicio-imagen img{
	width: 90%;
}

.width-1080{

}

#slider1{
	margin-top: 50px;
	margin-bottom: 80px;
}

.servicio{
	width: 100%;
	height: 100%;
	background: #020169;
	overflow: hidden;
	margin-bottom: 20px;
}

.imagen-servicio{
	padding: 10px;
}

.info-servicio{
	padding:10px;
}

.icono-servicio{
	list-style: none;
	margin: 20px 20px 0 0;
	padding: 0;
}

.icono-servicio li{
	display: inline-block;
	margin-right: 20px;
}

.foto-galeria{
	margin-bottom: 35px;
	text-align: center;
}

#mapa-contacto{
	width:100%;
	height:250px;
}

.form-div{
	margin-top:15px;
}

.form-div label{
	font-size: 40px;
	margin:0;
	text-transform: uppercase;
}
.form-div textarea{
	border: 1px solid #ff2f32;
	width:100%;
	padding:3px 0 3px 5px;
	font-family: americanCaptain;
	font-size: 25px;
	color: #5f5d5e;
}

.form-div input{
	border: 1px solid #ff2f32;
	width:100%;
	padding:3px 0 3px 5px;
	height:40px;
	font-family: americanCaptain;
	font-size: 25px;
	color: #5f5d5e;
}

.btn-enviar{
	margin-top:20px;
	background: #020169;
	font-family: americanCaptain;
	font-size: 35px;
	color: #ffffff;
	border: 0;
	padding: 0 60px;
}

.form-servicio label{
	font-size: 25px;
	text-transform: uppercase;
}

.form-servicio input{
	color: #5f5d5e;
}

.form-servicio input{
	width: 100%;
	height: 35px;
	padding: 10px 15px;
	font-family: americanCaptain;
	text-transform: uppercase;
	color: #5f5d5e;
}

.form-servicio textarea{
	width: 100%;
	padding: 10px 15px;
	font-family: americanCaptain;
	color: #5f5d5e;
}

.error{
	color: red;
    font-size: 13px !important;
}

.button-editar{
	position: absolute;
	right:25px;
}

.btn_eliminar_imagen_galeria{
	position: absolute;
	right:25px;
	top:5px;
}

.item{
	text-align: center;
}

.foto-empresa{
	margin: 10px 0;
}

.foto-empresa img{
	width:100%;
}

.icono-galeria{
	margin-top:20px;
	text-align: center;
}

.foto-galeria a img{
	width:100%;
}

.telefono_hover{
	position: absolute;
    background-color: #fff;
    border: 1px solid gray;
    padding: 2px 18px;
    font-family: americanCaptain;
    font-size: 20px;
    margin-left: -45px;
    margin-top:50px;
    display: none;
}

/************************QUERIES************************/

@media (min-width: 769px) and (max-width : 1000px){
	#header{
		height:255px;
		overflow: hidden;
	}

	#header #content-menu{
		width:100%;
		height:135px;
	}
}

@media only screen and (max-width : 1000px){
	.width-default{
		width:100%;
	}

	#content-footer{
		width: 100%;
	}

	#footer{
		height: 100%;
		overflow: hidden;
	}

	#footer #imagen-footer{
		width:100%;
		height: 200px;
		text-align: center;
	}

	#footer #contacto-footer{
		width:100%;
		text-align: center;
	}

	#menu ul, #header-social{
		width: 710px !important;
		float:none !important;
		margin: auto !important;
	}
}

@media only screen and (max-width : 1000px) {
	#header #logo{
		width: 100%;
		height: 135px;
		text-align: center;
	}

	.banner .content-banner{
		width:100% !important;
	}

	.text-center-sm{
		text-align: center !important;
	}
}

@media only screen and (max-width : 768px) {
	#header #content-menu{
		display: none;
	}

	.menu-mobil{
		display: block;
	}

	.titulo-banner, .titulo-banner2{
		width:100% !important;
		text-align: center;
	}
	.titulo-banner h2, .titulo-banner2 h2{
		font-size: 48px;
	}

	.titulo-banner h1{
		font-size: 75px;
	}

	.banner{
		/*height: 500px;*/
	}

	.banner .content-banner{
		height: 425px;
	}
}

/*****menu*****/

.menu {
  position: absolute;
  top: 0;
  left: 0;
  background: #fff;
  width: 240px;
  height: 100%;
  transform: translate3d(-240px, 0, 0);
  transition: transform 0.35s;
  z-index: 100;
}
.menu label.menu-toggle {
  position: absolute;
  right: -60px;
  width: 60px;
  height: 60px;
  line-height: 0px;
  display: block;
  padding: 0;
  text-indent: -9999px;
  background: #fff url(https://cdn4.iconfinder.com/data/icons/wirecons-free-vector-icons/32/menu-alt-512.png) 50% 50%/25px 25px no-repeat;
}
.menu ul li > label {
  background: url(https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-arrow-right-b-128.png) 95% 50%/16px 16px no-repeat;
}
.menu ul li a, .menu ul li label {
  display: block;
  text-align: center;
  padding: 0 20px;
  line-height: 60px;
  text-decoration: none;
}
.menu ul li a:hover, .menu ul li label:hover {
  color: #666;
}

/* hide inputs */
.menu-checkbox {
  display: none;
}

/* hide navigation icon for sublabels */
.menu .menu label.menu-toggle {
  background: none;
}

/* fade in checked menu */
.menu-checkbox:checked + .menu {
  transform: translate3d(0, 0, 0);
}

.owl-carousel .owl-item img{
	width: initial !important;
}