<div class="width-full">

  <div id="footer">

    <div id="content-footer">
      <div id="imagen-footer">
        <img src="{{ absolute_url( asset('image/logo2.png')) }}" alt="logo 2">
      </div>
      <div id="contacto-footer">
        <div class="texto">
          <span>Contácto</span>
        </div>
        <div class="texto">
          <span><img src="{{ absolute_url( asset('image/ubicacion.png')) }}" alt="ubicacion"> Avenida Gabriela Mistral #1255 Galpón N° 50, Los Ángeles</span>
        </div>
        <div class="texto">
          <span><img src="{{ absolute_url( asset('image/fono2.png')) }}" alt="fono"> +56 9 42498863 / 43-2210670</span>
        </div>
        <div class="texto">
          <span><img src="{{ absolute_url( asset('image/mail.png')) }}" alt="mail"> central@sisacomercial.cl</span>
        </div>
      </div>
    </div>
    
  </div>

</div>